Repository ansys/pyansys-units: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-common, generate-quantity-keys, generate-expanded-vector-quantities, generate-variable-descriptors, check-generated-files

generate-common:
  name: Generate common units
  entry: uv run scripts/generate_common.py
  language: system
  pass_filenames: false
  always_run: false

generate-quantity-keys:
  name: Generate quantity keys
  entry: uv run scripts/generate_keys.py
  language: system
  pass_filenames: false
  always_run: false

generate-expanded-vector-quantities:
  name: Generate expanded vector quantities
  entry: uv run scripts/generate_expanded_vector_quantities.py
  language: system
  pass_filenames: false
  always_run: false

generate-variable-descriptors:
  name: Generate variable descriptors
  entry: uv run scripts/generate_variable_descriptor.py
  language: system
  pass_filenames: false
  always_run: false

check-generated-files:
  name: Check generated files are up-to-date
  entry: 'git diff --exit-code src/ansys/units/common.py src/ansys/units/quantity_tables/keys.py src/ansys/units/quantity_dimensions.py src/ansys/units/variable_descriptor/variable_descriptor.py
  
    '
  language: system
  pass_filenames: false
  always_run: false

CHORE: bump version to 0.11.0 (#518)
  pyproject.toml
Due: none

CHORE: Bump main branch version (#519)
  pyproject.toml
Due: none

chore: Add few more unit definitions required by AFD datamodel
  src/ansys/units/cfg.yaml
  src/ansys/units/common.py
Due: generate-common, check-generated-files

chore: pre-commit
  src/ansys/units/common.py
  src/ansys/units/quantity_tables/keys.py
Due: check-generated-files

chore: pre-commit
  doc/source/contributing.rst
Due: none

chore: typing
  src/ansys/units/unit.py
Due: none

chore: tests
  tests/test_unit.py
Due: none

chore: tests
  src/ansys/units/quantity.py
  tests/test_quantity.py
Due: none

feat: remove deg
  src/ansys/units/cfg.yaml
  src/ansys/units/common.py
  src/ansys/units/quantity_tables/keys.py
Due: generate-common, check-generated-files

Update license metadata in pyproject.toml
  pyproject.toml
Due: none

feat: Unit alias support
  doc/source/user_guide/index.rst
  doc/source/user_guide/unit_aliases.rst
  examples/00-pyunits/unit_aliases_example.py
  src/ansys/units/_constants.py
  src/ansys/units/cfg.yaml
  src/ansys/units/unit.py
  src/ansys/units/unit_registry.py
  tests/test_aliases.py
Due: generate-common

feat: update cheat sheet
  doc/source/cheatsheet/cheat_sheet.qmd
  tests/test_aliases.py
Due: none

feat: update type hint
  src/ansys/units/extensions/pandas_extension.py
  src/ansys/units/unit.py
Due: none

feat: update type hint 1
  .basedpyright/baseline.json
  pyproject.toml
  src/ansys/units/extensions/pandas_extension.py
Due: none

feat: update type hint 2
  .github/workflows/ci_cd.yml
Due: none

feat: update type hint 3
  .github/workflows/ci_cd.yml
  src/ansys/units/extensions/pandas_extension.py
Due: none

feat: update type hint 4
  .basedpyright/baseline.json
  pyproject.toml
Due: none

FEAT: Unit alias support (#526)
  .basedpyright/baseline.json
  doc/source/cheatsheet/cheat_sheet.qmd
  doc/source/user_guide/index.rst
  doc/source/user_guide/unit_aliases.rst
  examples/00-pyunits/unit_aliases_example.py
  pyproject.toml
  src/ansys/units/_constants.py
  src/ansys/units/cfg.yaml
  src/ansys/units/extensions/pandas_extension.py
  src/ansys/units/unit.py
  src/ansys/units/unit_registry.py
  tests/test_aliases.py
Due: generate-common

chore: Update license metadata in pyproject.toml (#525)
  pyproject.toml
Due: none

refactor: Update register_unit
  doc/source/api/unit_registry.rst
  doc/source/user_guide/register_unit.rst
  src/ansys/units/unit_registry.py
  tests/test_register_unit.py
  tests/test_unit_registry.py
Due: none

refactor: Update register_unit 1
  doc/source/api/unit_registry.rst
  doc/source/cheatsheet/cheat_sheet.qmd
  doc/source/user_guide/register_unit.rst
  src/ansys/units/unit_registry.py
  tests/test_register_unit.py
Due: none

refactor: Update register_unit 2
  src/ansys/units/unit_registry.py
Due: none

refactor: Update register_unit 3
  src/ansys/units/unit_registry.py
  tests/test_register_unit.py
Due: none

REFACTOR: Update register unit functionality (#532)
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
  doc/source/api/unit_registry.rst
  doc/source/cheatsheet/cheat_sheet.qmd
  doc/source/user_guide/register_unit.rst
  src/ansys/units/unit_registry.py
  tests/test_register_unit.py
  tests/test_unit_registry.py
Due: none

CHORE: Bump version 0.12.0
  pyproject.toml
Due: none

CHORE: Bump version 0.13.dev0
  pyproject.toml
Due: none

CHORE: Bump version 0.12.0 (#533)
  pyproject.toml
Due: none

CHORE: Bump version 0.13.dev0 (#534)
  pyproject.toml
Due: none

chore: Have concrete classes for Scalar and Vector Variable Descriptors.
  src/ansys/units/variable_descriptor/variable_descriptor.py
Due: check-generated-files

Fix code style.
  src/ansys/units/variable_descriptor/variable_descriptor.py
Due: check-generated-files

CHORE: Have concrete classes for Scalar and Vector Variable Descriptor classes. (#537)
  src/ansys/units/variable_descriptor/variable_descriptor.py
Due: check-generated-files

build: Bump version to v0.12.1
  pyproject.toml
  src/ansys/units/variable_descriptor/variable_descriptor.py
Due: check-generated-files

fix: code style fix
  src/ansys/units/extensions/pandas_extension.py
Due: none

BUILD: Bump version to v0.12.1 (#538)
  pyproject.toml
  src/ansys/units/extensions/pandas_extension.py
  src/ansys/units/variable_descriptor/variable_descriptor.py
Due: check-generated-files

chore: update AUTHORS file
  AUTHORS
Due: none

chore: update LICENSE file
  LICENSE
Due: none

chore: Update missing or outdated files (#542)
  AUTHORS
  LICENSE
Due: none

chore: update SECURITY.md file
  SECURITY.md
Due: none

feat: Custom unit system
  .basedpyright/baseline.json
  doc/source/user_guide/index.rst
  doc/source/user_guide/unit_systems.rst
  src/ansys/units/_constants.py
  src/ansys/units/_unit_parsing.py
  src/ansys/units/systems.py
  src/ansys/units/unit.py
  tests/test_systems.py
Due: generate-common

Path conditions:
  generate-common: any of: ^(src/ansys/units/(cfg\.yaml|_constants\.py)|scripts/generate_common\.py)$
  generate-quantity-keys: any of: ^(src/ansys/units/quantity_tables/.*\.yaml|scripts/generate_keys\.py)$
  generate-expanded-vector-quantities: any of: ^(src/ansys/units/quantity_dimensions\.py|scripts/generate_expanded_vector_quantities\.py)$
  generate-variable-descriptors: any of: ^(src/ansys/units/(quantity_dimensions|base_dimensions)\.py|scripts/generate_variable_descriptor\.py)$
  check-generated-files: any of: ^src/ansys/units/(common\.py|quantity_tables/keys\.py|quantity_dimensions\.py|variable_descriptor/variable_descriptor\.py)$
