Repository ansys/pyansys-units: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-common, generate-quantity-keys, generate-expanded-vector-quantities, generate-variable-descriptors, check-generated-files

generate-common:
  name: Generate common units
  entry: uv run scripts/generate_common.py
  language: system
  pass_filenames: false
  always_run: false

generate-quantity-keys:
  name: Generate quantity keys
  entry: uv run scripts/generate_keys.py
  language: system
  pass_filenames: false
  always_run: false

generate-expanded-vector-quantities:
  name: Generate expanded vector quantities
  entry: uv run scripts/generate_expanded_vector_quantities.py
  language: system
  pass_filenames: false
  always_run: false

generate-variable-descriptors:
  name: Generate variable descriptors
  entry: uv run scripts/generate_variable_descriptor.py
  language: system
  pass_filenames: false
  always_run: false

check-generated-files:
  name: Check generated files are up-to-date
  entry: 'git diff --exit-code src/ansys/units/common.py src/ansys/units/quantity_tables/keys.py src/ansys/units/quantity_dimensions.py src/ansys/units/variable_descriptor/variable_descriptor.py
  
    '
  language: system
  pass_filenames: false
  always_run: false

write baseline again
  .basedpyright/baseline.json
  scripts/generate_variable_descriptor.py
Due: generate-variable-descriptors

update docs
  doc/source/user_guide/variable_descriptor.rst
  src/ansys/units/variable_descriptor/variable_descriptor.py
Due: check-generated-files

fix docs
  doc/source/user_guide/variable_descriptor.rst
  scripts/generate_variable_descriptor.py
  src/ansys/units/variable_descriptor/__init__.py
  src/ansys/units/variable_descriptor/_generated_variable_descriptor.py
Due: generate-variable-descriptors

FEAT: autogen vector quantities and variable descriptors (#455)
  .basedpyright/baseline.json
  .pre-commit-config.yaml
  doc/source/user_guide/variable_descriptor.rst
  scripts/generate_expanded_vector_quantities.py
  scripts/generate_variable_descriptor.py
  src/ansys/units/quantity_dimensions.py
  src/ansys/units/variable_descriptor/__init__.py
  src/ansys/units/variable_descriptor/_generated_variable_descriptor.py
  src/ansys/units/variable_descriptor/strategy.py
  src/ansys/units/variable_descriptor/variable_descriptor.py
  tests/test_variable_descriptors.py
Due: generate-expanded-vector-quantities, generate-variable-descriptors, check-generated-files

DOCS: add uv & basedpyright to contributing docs [skip-tests] (#456)
  doc/source/contributing.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Due: none

CHORE: Bump version to 10.1.0
  pyproject.toml
Due: none

Fix missing mesh attribute
  src/ansys/units/variable_descriptor/__init__.py
  src/ansys/units/variable_descriptor/variable_descriptor.py
Due: check-generated-files

CHORE: Bump version to 0.10.0 (#462)
  pyproject.toml
Due: none

build: bump main branch version
  pyproject.toml
Due: none

CHORE: bump main branch version (#464)
  pyproject.toml
Due: none

add to the generation
  scripts/generate_variable_descriptor.py
  src/ansys/units/variable_descriptor/__init__.py
  src/ansys/units/variable_descriptor/_generated_variable_descriptor.py
Due: generate-variable-descriptors

Update src/ansys/units/variable_descriptor/__init__.py
  src/ansys/units/variable_descriptor/__init__.py
Due: none

FIX: missing mesh attribute (#463)
  scripts/generate_variable_descriptor.py
  src/ansys/units/variable_descriptor/_generated_variable_descriptor.py
  src/ansys/units/variable_descriptor/variable_descriptor.py
Due: generate-variable-descriptors, check-generated-files

CHORE: Bump version to 0.10.1
  scripts/generate_variable_descriptor.py
  src/ansys/units/variable_descriptor/_generated_variable_descriptor.py
  src/ansys/units/variable_descriptor/variable_descriptor.py
Due: generate-variable-descriptors, check-generated-files

CHORE: Bump version to 0.10.1
  pyproject.toml
  scripts/generate_variable_descriptor.py
  src/ansys/units/variable_descriptor/_generated_variable_descriptor.py
  src/ansys/units/variable_descriptor/variable_descriptor.py
Due: generate-variable-descriptors, check-generated-files

CHORE: Bump version to 0.10.1 (#468)
  pyproject.toml
  scripts/generate_variable_descriptor.py
  src/ansys/units/variable_descriptor/_generated_variable_descriptor.py
  src/ansys/units/variable_descriptor/variable_descriptor.py
Due: generate-variable-descriptors, check-generated-files

REFACTOR: Increase test coverage
  tests/test_edge_cases.py
Due: none

REFACTOR: Increase test coverage
  .basedpyright/baseline.json
  tests/test_edge_cases.py
Due: none

REFACTOR: Increase test coverage
  .github/workflows/ci_cd.yml
Due: none

REFACTOR: pandas integration
  .basedpyright/baseline.json
  doc/source/user_guide/index.rst
  doc/source/user_guide/pandas_integration.rst
  examples/00-pyunits/pandas_integration_example.py
  src/ansys/units/__init__.py
  src/ansys/units/pandas_extension.py
  src/ansys/units/quantity.py
  tests/test_pandas_extension.py
  tests/test_unit.py
Due: none

REFACTOR: pandas integration 1
  doc/styles/config/vocabularies/ANSYS/accept.txt
  examples/00-pyunits/pandas_integration_example.py
Due: none

REFACTOR: fix type hints
  .github/workflows/ci_cd.yml
Due: none

REFACTOR: fix type hints 1
  examples/00-pyunits/pandas_integration_example.py
  src/ansys/units/pandas_extension.py
  tests/test_pandas_extension.py
Due: none

REFACTOR: fix type hints 2
  examples/00-pyunits/pandas_integration_example.py
  src/ansys/units/pandas_extension.py
  tests/test_pandas_extension.py
Due: none

REFACTOR: fix type hints 3
  .basedpyright/baseline.json
  .github/workflows/ci_cd.yml
Due: none

REFACTOR: fix type hints 4
  .github/workflows/ci_cd.yml
  pyproject.toml
Due: none

REFACTOR: fix type hints 5
  .github/workflows/ci_cd.yml
Due: none

REFACTOR: fix type hints 6
  .github/workflows/ci_cd.yml
Due: none

REFACTOR: fix type hints 7
  .github/workflows/ci_cd.yml
Due: none

REFACTOR: fix type hints 7
  .github/workflows/ci_cd.yml
  src/ansys/units/__init__.py
Due: none

REFACTOR: fix type hints 8
  .github/workflows/ci_cd.yml
  pyproject.toml
Due: none

REFACTOR: Pandas extension and Increase test coverage (#483)
  .basedpyright/baseline.json
  .github/workflows/ci_cd.yml
  doc/source/user_guide/index.rst
  doc/source/user_guide/pandas_integration.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
  examples/00-pyunits/pandas_integration_example.py
  pyproject.toml
  src/ansys/units/__init__.py
  src/ansys/units/pandas_extension.py
  src/ansys/units/quantity.py
  tests/test_edge_cases.py
  tests/test_pandas_extension.py
  tests/test_unit.py
Due: none

initial commit
  .flake8
  src/ansys/units/quantity.py
  src/ansys/units/unit.py
  tests/test_quantity.py
  tests/test_types.py
  tests/test_unit.py
Due: none

fix more types
  src/ansys/units/quantity.py
  tests/test_types.py
Due: none

rebaseline
  .basedpyright/baseline.json
  pyproject.toml
  tests/lib_compare/test_angle_units.py
Due: none

rewrite the baseline
  .basedpyright/baseline.json
Due: none

rm canarray
  src/ansys/units/quantity.py
Due: none

Path conditions:
  generate-common: any of: ^(src/ansys/units/(cfg\.yaml|_constants\.py)|scripts/generate_common\.py)$
  generate-quantity-keys: any of: ^(src/ansys/units/quantity_tables/.*\.yaml|scripts/generate_keys\.py)$
  generate-expanded-vector-quantities: any of: ^(src/ansys/units/quantity_dimensions\.py|scripts/generate_expanded_vector_quantities\.py)$
  generate-variable-descriptors: any of: ^(src/ansys/units/(quantity_dimensions|base_dimensions)\.py|scripts/generate_variable_descriptor\.py)$
  check-generated-files: any of: ^src/ansys/units/(common\.py|quantity_tables/keys\.py|quantity_dimensions\.py|variable_descriptor/variable_descriptor\.py)$
