Repository ansys/pyansys-units: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-common, generate-quantity-keys, generate-expanded-vector-quantities, generate-variable-descriptors, check-generated-files

generate-common:
  name: Generate common units
  entry: uv run scripts/generate_common.py
  language: system
  pass_filenames: false
  always_run: false

generate-quantity-keys:
  name: Generate quantity keys
  entry: uv run scripts/generate_keys.py
  language: system
  pass_filenames: false
  always_run: false

generate-expanded-vector-quantities:
  name: Generate expanded vector quantities
  entry: uv run scripts/generate_expanded_vector_quantities.py
  language: system
  pass_filenames: false
  always_run: false

generate-variable-descriptors:
  name: Generate variable descriptors
  entry: uv run scripts/generate_variable_descriptor.py
  language: system
  pass_filenames: false
  always_run: false

check-generated-files:
  name: Check generated files are up-to-date
  entry: 'git diff --exit-code src/ansys/units/common.py src/ansys/units/quantity_tables/keys.py src/ansys/units/quantity_dimensions.py src/ansys/units/variable_descriptor/variable_descriptor.py
  
    '
  language: system
  pass_filenames: false
  always_run: false

feat: Custom unit system
  .pre-commit-config.yaml
  src/ansys/units/_unit_parsing.py
Due: none

feat: Custom unit system
  doc/source/contributing.rst
  doc/source/user_guide/temperature.rst
  doc/source/user_guide/unit_systems.rst
Due: none

feat: Custom unit system
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
Due: none

feat: add preferred unit support
  doc/source/user_guide/unit_systems.rst
  src/ansys/units/systems.py
  src/ansys/units/unit.py
  tests/test_systems.py
Due: none

feat: add preferred unit support docs
  doc/source/user_guide/unit_systems.rst
  tests/test_systems.py
Due: none

FEAT: Custom unit system (#546)
  .basedpyright/baseline.json
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
  .pre-commit-config.yaml
  doc/source/contributing.rst
  doc/source/user_guide/index.rst
  doc/source/user_guide/temperature.rst
  doc/source/user_guide/unit_systems.rst
  src/ansys/units/_constants.py
  src/ansys/units/_unit_parsing.py
  src/ansys/units/systems.py
  src/ansys/units/unit.py
  tests/test_systems.py
Due: generate-common

chore: Update missing or outdated files (#544)
  SECURITY.md
Due: none

CHORE: Bump version to 0.13.0
  pyproject.toml
Due: none

docs: fix codespell
  .pre-commit-config.yaml
Due: none

DOCS: fix codespell (#549)
  .pre-commit-config.yaml
Due: none

CHORE: Bump version to 0.13.0 (#550)
  pyproject.toml
Due: none

CHORE: Update release version
  pyproject.toml
Due: none

CHORE: Update release version (#551)
  pyproject.toml
Due: none

Add bar (1e5 Pa), revolution (2pi rad) and minute (60 s)
  src/ansys/units/cfg.yaml
  src/ansys/units/common.py
  src/ansys/units/quantity_tables/keys.py
  tests/lib_compare/test_angle_units.py
  tests/test_unit.py
Due: generate-common, check-generated-files

Simplify and use Pa as compositon.
  src/ansys/units/cfg.yaml
Due: generate-common

FEAT: Add bar (1e5 Pa), revolution (2pi rad) and minute (60 s) (#560)
  src/ansys/units/cfg.yaml
  src/ansys/units/common.py
  src/ansys/units/quantity_tables/keys.py
  tests/lib_compare/test_angle_units.py
  tests/test_unit.py
Due: generate-common, check-generated-files

Path conditions:
  generate-common: any of: ^(src/ansys/units/(cfg\.yaml|_constants\.py)|scripts/generate_common\.py)$
  generate-quantity-keys: any of: ^(src/ansys/units/quantity_tables/.*\.yaml|scripts/generate_keys\.py)$
  generate-expanded-vector-quantities: any of: ^(src/ansys/units/quantity_dimensions\.py|scripts/generate_expanded_vector_quantities\.py)$
  generate-variable-descriptors: any of: ^(src/ansys/units/(quantity_dimensions|base_dimensions)\.py|scripts/generate_variable_descriptor\.py)$
  check-generated-files: any of: ^src/ansys/units/(common\.py|quantity_tables/keys\.py|quantity_dimensions\.py|variable_descriptor/variable_descriptor\.py)$
