Repository ansys/pyansys-units: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-common, generate-quantity-keys, check-generated-files

generate-common:
  name: Generate common units
  entry: python scripts/generate_common.py
  language: python
  pass_filenames: false
  always_run: false

generate-quantity-keys:
  name: Generate quantity keys
  entry: python scripts/generate_keys.py
  language: python
  pass_filenames: false
  always_run: false

check-generated-files:
  name: Check generated files are up-to-date
  entry: "git diff --exit-code\n  src/ansys/units/common.py\n  src/ansys/units/quantity_tables/keys.py\n|| (echo \"Generated files are out of date. Run scripts/generate_common.py and scripts/generate_keys.py\" && exit 1)\n"
  language: system
  ...

ci: install package before running scripts
  .github/workflows/ci_cd.yml
Due: none

ci: I have no idea why it's not installing but this is slightly closer to tests passing I suppose
  .pre-commit-config.yaml
  scripts/generate_common.py
  scripts/generate_keys.py
  src/ansys/units/quantity.py
Due: generate-common, generate-quantity-keys

ci: run in uv env and don't make generated check fancy
  .pre-commit-config.yaml
Due: none

ci: okay it's passing locally
  .pre-commit-config.yaml
  examples/00-pyunits/basic_usage.py
Due: none

chore: update CODE_OF_CONDUCT.md file
  CODE_OF_CONDUCT.md
Due: none

chore: update CONTRIBUTING.md file
  CONTRIBUTING.md
Due: none

ci: Add security action
  .github/workflows/ci_cd.yml
Due: none

ci: Add security action 1
  .github/workflows/ci_cd.yml
Due: none

ci: Add security action 2
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
Due: none

ci: Add security action 3
  .github/workflows/label.yml
Due: none

ci: Add security action 4
  .github/workflows/label.yml
Due: none

ci: Add security action 5
  .github/workflows/label.yml
Due: none

ci: Add security action (#423)
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
Due: none

make unit tests pass
  tests/test_quantity.py
  tests/test_unit.py
Due: none

Apply suggestion from @Gobot1234
  .pre-commit-config.yaml
Due: none

Apply suggestion from @Gobot1234
  src/ansys/units/unit.py
Due: none

Better types for UnitSystem
  scripts/generate_keys.py
  src/ansys/units/quantity_tables/keys.py
  src/ansys/units/systems.py
Due: generate-quantity-keys, check-generated-files

Fix see also section
  src/ansys/units/unit.py
Due: none

Fix operator chain
  src/ansys/units/unit.py
  tests/test_unit.py
Due: none

Remove language: system
  .pre-commit-config.yaml
Due: none

more specific ignores
  .pre-commit-config.yaml
Due: none

revert dimension eq improvements (will pr back in separately)
  src/ansys/units/dimensions.py
  tests/test_dimensions.py
Due: none

Missing import
  src/ansys/units/dimensions.py
Due: none

blacken code and generation
  scripts/generate_common.py
  scripts/generate_keys.py
  src/ansys/units/quantity_tables/keys.py
Due: generate-common, generate-quantity-keys, check-generated-files

Maybe deps fixes it
  scripts/generate_common.py
  scripts/generate_keys.py
Due: generate-common, generate-quantity-keys

maybe this fixes it picking up deps
  .pre-commit-config.yaml
  scripts/generate_common.py
  scripts/generate_keys.py
Due: generate-common, generate-quantity-keys

move ignore to the config file
  .flake8
  .pre-commit-config.yaml
Due: none

Turns out modifying sys.path is the recommended way to do this
  scripts/generate_common.py
  scripts/generate_keys.py
  src/ansys/units/__init__.py
Due: generate-common, generate-quantity-keys

the light at the end of the tunnel
  scripts/generate_common.py
  scripts/generate_keys.py
Due: generate-common, generate-quantity-keys

I have no idea why one raised but the other didn't use format_str to be safe
  scripts/generate_common.py
  scripts/generate_keys.py
Due: generate-common, generate-quantity-keys

Add error message if it's not appropriate dimensions
  src/ansys/units/quantity.py
Due: none

refactor: simplify the implementation of `Dimension.__eq__`
  src/ansys/units/dimensions.py
  tests/test_dimensions.py
Due: none

ci: add type checking
  .github/workflows/ci_cd.yml
  pyproject.toml
Due: none

I should have seen it coming that we need to install basedpyright
  .github/workflows/ci_cd.yml
Due: none

Add hints for unit_registry
  src/ansys/units/unit_registry.py
Due: none

Add hints for unit registry
  src/ansys/units/unit_registry.py
Due: none

ignore the docs from type checking
  pyproject.toml
Due: none

fix quantity table test
  tests/test_unit.py
Due: none

Path conditions:
  generate-common: any of: ^(src/ansys/units/(cfg\.yaml|_constants\.py)|scripts/generate_common\.py)$
  generate-quantity-keys: any of: ^(src/ansys/units/quantity_tables/.*\.yaml|scripts/generate_keys\.py)$
  check-generated-files: any of: ^src/ansys/units/(common\.py|quantity_tables/keys\.py)$
