Repository ansys/pyansys-units: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-common, generate-quantity-keys, generate-expanded-vector-quantities, generate-variable-descriptors, check-generated-files

generate-common:
  name: Generate common units
  entry: uv run scripts/generate_common.py
  language: system
  pass_filenames: false
  always_run: false

generate-quantity-keys:
  name: Generate quantity keys
  entry: uv run scripts/generate_keys.py
  language: system
  pass_filenames: false
  always_run: false

generate-expanded-vector-quantities:
  name: Generate expanded vector quantities
  entry: uv run scripts/generate_expanded_vector_quantities.py
  language: system
  pass_filenames: false
  always_run: false

generate-variable-descriptors:
  name: Generate variable descriptors
  entry: uv run scripts/generate_variable_descriptor.py
  language: system
  pass_filenames: false
  always_run: false

check-generated-files:
  name: Check generated files are up-to-date
  entry: 'git diff --exit-code src/ansys/units/common.py src/ansys/units/quantity_tables/keys.py src/ansys/units/quantity_dimensions.py src/ansys/units/variable_descriptor/variable_descriptor.py
  
    '
  language: system
  pass_filenames: false
  always_run: false

Update src/ansys/units/quantity_dimensions.py
  src/ansys/units/quantity_dimensions.py
Due: generate-expanded-vector-quantities, generate-variable-descriptors, check-generated-files

add in dimensionality to var catalog
  .basedpyright/baseline.json
  scripts/generate_variable_descriptor.py
  src/ansys/units/variable_descriptor/variable_descriptor.py
Due: generate-variable-descriptors, check-generated-files

fmt
  scripts/generate_expanded_vector_quantities.py
  scripts/generate_variable_descriptor.py
  src/ansys/units/quantity_dimensions.py
  src/ansys/units/variable_descriptor/variable_descriptor.py
Due: generate-expanded-vector-quantities, generate-variable-descriptors, check-generated-files

FEAT: Support tonne unit (#457)
  pyproject.toml
  src/ansys/units/cfg.yaml
  src/ansys/units/common.py
  src/ansys/units/quantity_tables/keys.py
  src/ansys/units/quantity_tables/si_table.yaml
  tests/test_unit.py
Due: generate-common, generate-quantity-keys, check-generated-files

fix some types and formatting
  scripts/generate_variable_descriptor.py
  src/ansys/units/variable_descriptor/strategy.py
  src/ansys/units/variable_descriptor/variable_descriptor.py
  tests/test_variable_descriptors.py
Due: generate-variable-descriptors, check-generated-files

fix ci
  .basedpyright/baseline.json
  src/ansys/units/variable_descriptor/strategy.py
  src/ansys/units/variable_descriptor/variable_descriptor.py
Due: check-generated-files

rename to QuantityKind
  .basedpyright/baseline.json
  scripts/generate_variable_descriptor.py
  src/ansys/units/variable_descriptor/variable_descriptor.py
Due: generate-variable-descriptors, check-generated-files

impl suggestions
  doc/source/contributing.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Due: none

accept did not like that
  doc/styles/config/vocabularies/ANSYS/accept.txt
Due: none

fix CI
  .basedpyright/baseline.json
  src/ansys/units/variable_descriptor/variable_descriptor.py
  tests/test_variable_descriptors.py
Due: check-generated-files

Update test_variable_descriptors.py
  tests/test_variable_descriptors.py
Due: none

FEAT: add hash support to Dimension objects (#452)
  .basedpyright/baseline.json
  src/ansys/units/base_dimensions.py
  src/ansys/units/dimensions.py
  src/ansys/units/variable_descriptor/variable_descriptor.py
  tests/test_dimensions.py
Due: generate-variable-descriptors, check-generated-files

FEAT: Register unit without updating config files
  doc/source/user_guide/index.rst
  doc/source/user_guide/register_unit.rst
  src/ansys/units/__init__.py
  src/ansys/units/unit_registry.py
  tests/test_register_unit.py
Due: none

FEAT: resolve type warnings
  pyproject.toml
  src/ansys/units/quantity.py
  src/ansys/units/unit_registry.py
  tests/test_register_unit.py
Due: none

FEAT: add baseline.json
  .basedpyright/baseline.json
Due: none

FEAT: resolve type hint errors 1
  .basedpyright/baseline.json
  pyproject.toml
  src/ansys/units/quantity.py
Due: none

FEAT: resolve type hint errors 2
  src/ansys/units/quantity.py
Due: none

feat: Make it instance scoped
  doc/source/user_guide/register_unit.rst
  src/ansys/units/__init__.py
  src/ansys/units/unit_registry.py
  tests/test_register_unit.py
Due: none

feat: Make it instance scoped 1
  src/ansys/units/unit_registry.py
Due: none

feat: Make it instance scoped 2
  doc/source/user_guide/register_unit.rst
Due: none

feat: Make it instance scoped 3
  doc/source/user_guide/register_unit.rst
Due: none

fix: update test
  tests/test_register_unit.py
Due: none

Update src/ansys/units/unit_registry.py
  src/ansys/units/unit_registry.py
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Update doc/source/user_guide/register_unit.rst
  doc/source/user_guide/register_unit.rst
Due: none

fix: apply suggestions
  doc/source/user_guide/register_unit.rst
  src/ansys/units/unit_registry.py
  tests/test_register_unit.py
Due: none

fix: apply suggestions 1
  src/ansys/units/unit_registry.py
Due: none

fix: apply suggestions 1
  doc/source/user_guide/register_unit.rst
  src/ansys/units/unit_registry.py
  tests/test_register_unit.py
Due: none

fix: apply suggestions 2
  doc/source/user_guide/register_unit.rst
Due: none

fix: apply suggestions 3
  src/ansys/units/unit_registry.py
Due: none

fix: update for type checker
  .basedpyright/baseline.json
  scripts/generate_common.py
  scripts/generate_keys.py
Due: generate-common, generate-quantity-keys

fix: update for type checker 1
  .basedpyright/baseline.json
  src/ansys/units/quantity.py
Due: none

fix: apply suggestions 4
  src/ansys/units/unit_registry.py
Due: none

FEAT: Register a custom new unit without updating config files (#458)
  .basedpyright/baseline.json
  doc/source/user_guide/index.rst
  doc/source/user_guide/register_unit.rst
  pyproject.toml
  scripts/generate_common.py
  scripts/generate_keys.py
  src/ansys/units/quantity.py
  src/ansys/units/unit_registry.py
  tests/test_register_unit.py
Due: generate-common, generate-quantity-keys

address comments from meeting
  scripts/generate_variable_descriptor.py
  src/ansys/units/variable_descriptor/__init__.py
  src/ansys/units/variable_descriptor/_generated_variable_descriptor.py
  src/ansys/units/variable_descriptor/variable_descriptor.py
Due: generate-variable-descriptors, check-generated-files

Path conditions:
  generate-common: any of: ^(src/ansys/units/(cfg\.yaml|_constants\.py)|scripts/generate_common\.py)$
  generate-quantity-keys: any of: ^(src/ansys/units/quantity_tables/.*\.yaml|scripts/generate_keys\.py)$
  generate-expanded-vector-quantities: any of: ^(src/ansys/units/quantity_dimensions\.py|scripts/generate_expanded_vector_quantities\.py)$
  generate-variable-descriptors: any of: ^(src/ansys/units/(quantity_dimensions|base_dimensions)\.py|scripts/generate_variable_descriptor\.py)$
  check-generated-files: any of: ^src/ansys/units/(common\.py|quantity_tables/keys\.py|quantity_dimensions\.py|variable_descriptor/variable_descriptor\.py)$
